<%= link_to "Edit", edit_blog_post_path(@blog_post) if user_signed_in? %>

<h1>
	<%= @blog_post.title %>
	<% if @blog_post.draft? %>
		<span class="bg-gray-100 text-gray-900 p-1 rounded text-xs font-normal ml-2">Draft</span>
	<% end %>
</h1>
<%= @blog_post.body %>
